a {
  color: #444;
  text-decoration: none !important; }
  a:hover {
    color: #ef4e22; }
  a:active, a:focus {
    outline: none;
    color: #ef4e22; }

.timeline a {
  color: #ef4e22;
  text-decoration: none !important; }
  .timeline a:hover {
    color: #6d6e71; }
  .timeline a:active, .timeline a:focus {
    outline: none;
    color: #ef4e22; }

button:active, button:focus {
  outline: none;
  box-shadow: none !important; }

.mobile-bar {
  color: #ef4e22; }

button.search-toggler {
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: #ef4e22;
  font-size: 1.5625rem; }

button:active, button:focus {
  outline: none; }

button.navbar-toggler {
  border: none; }

button:active, button:focus {
  outline: none; }

nav ul li a.nav-link {
  font-weight: bold;
  color: #6d6e71; }
  nav ul li a.nav-link:hover, nav ul li a.nav-link:active, nav ul li a.nav-link:focus {
    color: #ef4e22; }

.auth-form {
  background-color: #fff;
  border-radius: 5px; }
  .auth-form .tab-content a {
    color: #ef4e22; }
    .auth-form .tab-content a:hover {
      color: #6d6e71; }
    .auth-form .tab-content a:focus, .auth-form .tab-content a:active {
      outline: none; }
  .auth-form ul li.nav-item {
    width: 50%; }
    .auth-form ul li.nav-item a {
      text-align: center;
      font-weight: bold; }
    .auth-form ul li.nav-item a.active {
      background-color: #ef4e22;
      color: #fff; }

footer a:hover {
  color: #ef4e22; }

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto; }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

input[type=text],
input[type=search],
input[type=url],
input[type=email],
input[type=password],
input[type=number] {
  box-sizing: border-box;
  min-height: 2.4375rem;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  font-family: inherit;
  font-size: 0.875rem;
  vertical-align: middle;
  border: 0.0625rem solid #fde6e0;
  border-radius: 0.1875rem;
  outline: none;
  background-color: #fff;
  box-shadow: none !important; }
  input[type=text]:focus,
  input[type=search]:focus,
  input[type=url]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=number]:focus {
    border-color: #ef4e22; }
  input[type=text]:disabled,
  input[type=search]:disabled,
  input[type=url]:disabled,
  input[type=email]:disabled,
  input[type=password]:disabled,
  input[type=number]:disabled {
    background-color: #6d6e71;
    cursor: not-allowed; }

textarea {
  box-sizing: border-box;
  min-height: 2.4375rem;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  font-family: inherit;
  font-size: 0.875rem;
  vertical-align: middle;
  border: 0.0625rem solid #fde6e0;
  border-radius: 0.1875rem;
  outline: none;
  background-color: #fff;
  box-shadow: none !important;
  display: block;
  overflow: auto;
  font-size: 0.75rem; }
  textarea:focus {
    border-color: #ef4e22; }
  textarea:disabled {
    background-color: #6d6e71;
    cursor: not-allowed; }
  textarea:active, textarea:focus {
    border-color: #ef4e22 !important; }

select.custom-select {
  font-size: 0.875rem;
  min-height: 2.625rem !important;
  outline: none !important;
  box-shadow: none !important;
  border: solid, #ef4e22 !important; }
  select.custom-select:active, select.custom-select:focus {
    outlne: none !important;
    border-color: #ef4e22; }
  select.custom-select option:hover, select.custom-select option:focus, select.custom-select option:active select.custom-select option:checked {
    background-color: #ef4e22 !important; }

.main-search div.col {
  margin-right: -10px; }

.btn-banner {
  background-color: #ef4e22;
  border: solid 5px;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff; }
  .btn-banner:hover {
    background-color: #9f2b0c;
    box-shadow: unset !important; }

.btn-action {
  background-color: #fff;
  height: 30px;
  padding: 0px 5px;
  border: solid 3px;
  border-color: rgba(109, 110, 113, 0.5);
  color: #6d6e71; }
  .btn-action:hover {
    background-color: #ef4e22;
    box-shadow: unset !important;
    color: #fff; }

@media (max-width: 817px) {
  .banner-content {
    width: 90% !important; }
    .banner-content h3 {
      font-size: 1.25rem !important; } }
@media (max-width: 346px) {
  .event-meta {
    font-size: 0.625rem !important; } }
@media (max-width: 395px) {
  .timer {
    font-size: 0.9375rem !important; } }
@media (min-width: 396px) and (max-width: 767px) {
  .timer {
    font-size: 1.25rem !important; } }
@media (max-width: 395px) {
  .meta-section div span a {
    font-size: 0.75rem; } }
@media (min-width: 768px) {
  .event-pool-title .title {
    text-align: left; }
  .event-pool-title .username {
    text-align: right; } }
@media (max-width: 354px) {
  .event-menu nav a {
    font-size: 0.625rem; } }
@media (max-width: 385px) {
  .pre-event .card {
    height: 150px !important;
    border-radius: 5px !important; } }
@media (max-width: 385px) {
  .pre-event .card {
    height: 100px !important;
    border-radius: 5px !important; } }
@media (max-width: 991px) {
  .main-search .keyword, .main-search .location, .main-search .category, .main-search .name, .main-search .btn-search, .main-search .search-by {
    display: none; } }

@media (min-width: 991px) {
  .search-toggler {
    display: none; }

  .mobile-main-menu {
    display: none; } }
@media (max-width: 500px) {
  .meta-section h6 {
    font-size: 0.75rem; } }
@media (max-width: 991px) {
  .blog-img, .blog-title {
    height: 130px !important; }

  .feature-title h5 {
    font-size: 0.9375rem;
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important; } }
@media (max-width: 450px) {
  .feature-img {
    height: 200px !important; }

  .feature-title {
    height: 150px !important;
    position: absolute !important;
    top: 50px !important; } }
@media (min-height: 992px) {
  .blog-title-sm {
    display: none !important; } }
@media (min-height: 768px) {
  .split {
    brder-right: solid 1px; } }
@media (max-height: 767px) {
  .split {
    border-right: none; }

  .wink-form {
    margin-bottom: 40px; }
    .wink-form label, .wink-form .invite-heading {
      text-align: center; } }
@media (max-width: 768px) {
  .buy-ticket {
    background-color: rgba(239, 78, 34, 0.7) !important; } }
body {
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  font-family: Poppins, sans-serif;
  background-color: #f8f8fa; }

/* General Styles*/
.bg-white {
  background-color: #fff; }

.text-gray {
  color: #6d6e71; }

.bg-ash {
  background-color: #fbfbfb; }

.bold-text {
  font-weight: bold !important; }

.color-primary {
  color: #ef4e22; }

/* Nav Section*/
.logo {
  width: 7.3125rem;
  height: 3.125rem; }

.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }

/* Main Menu link for logged in User*/
.user-menu .btn-main-menu, .mobile-main-menu .btn-main-menu {
  position: relative;
  left: 40px; }
.user-menu .dropdown-menu, .mobile-main-menu .dropdown-menu {
  z-index: 999999;
  font-size: 0.8125rem; }
.user-menu .dropdown-toggle:after, .mobile-main-menu .dropdown-toggle:after {
  display: none !important; }
.user-menu .dropdown-item:hover, .mobile-main-menu .dropdown-item:hover {
  background-color: #ef4e22;
  color: #fff; }
.user-menu a.disabled:hover, .mobile-main-menu a.disabled:hover {
  background-color: #fff; }

/* Banner Section*/
.banner {
  height: 300px;
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover; }

.banner-variant {
  height: 250px; }

.banner-content {
  width: 75%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.96);
  padding: 20px;
  border-radius: 5px; }
  .banner-content h3 {
    font-size: 1.875rem;
    font-weight: 300;
    color: #ef4e22; }

.btn-search button {
  height: 40px;
  border: none;
  margin-left: 6px; }

.search-by {
  padding-top: 0.625rem;
  font-weight: bold;
  color: #6d6e71; }

.close-search {
  color: #ef4e22;
  font-size: 1.5625rem;
  margin-top: 0.625rem;
  float: right; }

ul.home-cta {
  padding-bottom: 0px;
  background-color: #fff; }
  ul.home-cta li {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%; }
    ul.home-cta li:hover {
      background-color: #fde6e0; }
    ul.home-cta li a.first-link {
      border-right: solid #fde6e0; }
    ul.home-cta li a {
      color: #ef4e22; }

.main-cta a.nav-link {
  color: #ef4e22; }
.main-cta a.first-link {
  background-color: #f8f8fa; }

/* Events slider*/
.slick-prev:before,
.slick-next:before {
  color: #ef4e22; }

/* My Events section*/
.my-events-card {
  border-bottom: solid 1px #e9e9ea;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .my-events-card .img-box {
    overflow: hidden;
    width: 100%; }
  .my-events-card .event-meta .fa-calendar {
    color: #1d398b; }
  .my-events-card .event-meta .fa-map-marker {
    color: #1d398b; }

.my-events .card {
  height: 20.625rem; }
.my-events .event-options {
  position: relative;
  bottom: 1.25rem; }
.my-events .action-detail {
  background-color: #f6f6f6;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold; }
  .my-events .action-detail span.badge {
    color: #fff;
    background-color: #6d6e71; }
  .my-events .action-detail .follow-detail {
    padding-left: 10px; }
  .my-events .action-detail .likes-detail {
    padding-right: 0px; }
.my-events .user-action {
  margin-top: 10px; }

.invite-heading {
  font-weight: bolder; }

/* Followers Page*/
.follower-img {
  width: 50px;
  height: 50px; }

.follower {
  border-bottom: solid 1px #eeeeef;
  margin-bottom: 10px; }

.follower-menu {
  position: relative;
  top: 20px; }

.category-img {
  height: 150px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 5px;
  min-width: 250px;
  margin: 15px; }
  .category-img img {
    width: 100%; }
  .category-img .title {
    overflow: hidden;
    background-color: #f3f3f4;
    padding: 10px; }

/* Cards*/
.events-category {
  padding: 20px 0px 0px 0px; }

.sub-category .badge {
  background-color: #6d6e71;
  color: #fff;
  font-size: 0.75rem; }

.card {
  margin: 5px;
  margin-bottom: 30px;
  height: 18.75rem;
  border-radius: 0.3125rem; }
  .card:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important; }
  .card .card-body {
    padding: 5px; }
  .card .card-img-box {
    width: 100%;
    height: 200px;
    overflow: hidden; }
  .card .event-title {
    height: 50px;
    overflow: hidden;
    line-height: .8;
    padding: 5px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee; }
  .card .event-meta {
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.75rem; }
  .card .pool-follow a {
    color: #ef4e22;
    font-weight: bold;
    float: right;
    border-left: solid 1px #babbbd;
    padding-left: 5px; }
  .card .album-size {
    color: #ef4e22;
    font-weight: bold;
    float: right; }
  .card .fa-eye {
    color: #ef4e22; }
  .card .fa-map-marker {
    color: #1d398b; }
  .card .fa-heart {
    color: #790909; }
  .card .fa-calendar {
    color: #1d398b; }
  .card p span {
    padding-right: 10px; }

/* Sections*/
.section-title {
  padding-bottom: 25px; }
  .section-title h5 {
    font-weight: 700;
    color: #6d6e71; }

.form-title {
  padding-bottom: 15px; }
  .form-title h5 {
    font-weight: 700;
    color: #6d6e71; }

.follow-link a {
  color: #ef4e22;
  font-weight: bold; }

.meta-section {
  border-radius: 0px 0px 5px 5px;
  background-color: #f8f8fa;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px; }
  .meta-section div {
    margin: auto;
    text-align: center; }
  .meta-section .active a {
    color: #ef4e22;
    font-weight: bold; }

.meta-links .fa-heart {
  color: #790909; }
.meta-links .fa-share {
  color: #1d398b; }

.page-section {
  margin-top: 50px;
  padding: 25px;
  border-radius: 5px; }
  .page-section .event-cover {
    background: #ef4e22;
    background: -webkit-linear-gradient(to right, #ef4e22, #d3a812);
    background: -webkit-gradient(linear, left top, right top, from(#ef4e22), to(#d3a812));
    background: -webkit-linear-gradient(left, #ef4e22, #d3a812);
    background: -o-linear-gradient(left, #ef4e22, #d3a812);
    background: linear-gradient(to right, #ef4e22, #d3a812);
    border-radius: 5px;
    max-height: 300px;
    overflow: hidden; }
    .page-section .event-cover img {
      max-height: 300px; }
  .page-section .event-pool-title {
    padding-bottom: 10px; }
  .page-section .strip {
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    margin: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 15px;
    text-align: center;
    border-radius: 0px 0px 5px 5px; }

.event-menu {
  width: 100%; }
  .event-menu nav a {
    margin: auto;
    font-weight: bold; }
  .event-menu nav a.active {
    font-weight: bolder !important;
    color: #ef4e22 !important;
    border-bottom: solid; }

.event-menu-section {
  background-color: #fff;
  border: solid #fef9f8;
  border-radius: 5px; }

.event-description {
  margin-top: 30px; }
  .event-description p {
    line-height: 1.5rem;
    text-align: left; }

.event-info {
  background-color: #f8f8fa;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px; }
  .event-info a {
    color: #ef4e22; }
    .event-info a:hover {
      color: #6d6e71; }

.event-video {
  margin-top: 30px;
  margin-bottom: 30px; }
  .event-video video {
    width: 100%;
    text-align: center; }

.events-detail .card {
  height: 200px;
  border-radius: 5px !important; }
.events-detail .card-img-box {
  height: 100%;
  border-radius: 5px; }

.pre-event .card {
  height: 200px;
  border-radius: 5px !important; }
.pre-event .card-img-box {
  height: 100%;
  border-radius: 5px; }

.post-update {
  padding: 20px; }
  .post-update .update-box {
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #d4d5d6; }

.update-img {
  max-height: 200px;
  border-radius: 5px;
  margin-bottom: 30px; }

.post-text {
  background-color: #f8f8fa;
  margin: auto;
  padding-top: 20px;
  border-radius: 5px; }

/* Comments*/
.comment-meta {
  border: solid #f8f8fa;
  padding: 10px;
  border-radius: 5px;
  text-align: center; }

.comment-meta-menu {
  float: right; }
  .comment-meta-menu button {
    background-color: #fff;
    border: none; }
    .comment-meta-menu button:hover {
      cursor: pointer; }
  .comment-meta-menu .dropdown-toggle:before {
    display: none; }
  .comment-meta-menu .dropdown-menu a {
    font-size: 0.875rem; }
    .comment-meta-menu .dropdown-menu a:active, .comment-meta-menu .dropdown-menu a:focus {
      background-color: #ef4e22; }

.comment-like {
  float: left;
  clear: both; }

.comment-box div {
  padding-top: 10px; }

.comment-input {
  margin-top: -30px; }

.similar-events {
  padding: 0px; }

/* Countdown timer*/
.timer {
  font-size: 2.1875rem; }
  .timer .badge {
    background-color: #444;
    color: #fff; }

/* Event News*/
.add-news {
  background-color: #f8f8fa;
  border-radius: 5px; }

/* Event Stories*/
.event-stories ul li.nav-item {
  width: 50%; }
  .event-stories ul li.nav-item a {
    text-align: center;
    font-weight: bold; }
  .event-stories ul li.nav-item a.active {
    background-color: #f9c0b1;
    color: #444; }

.media-img {
  max-height: 250px;
  overflow: hidden;
  background: #ef4e22;
  background: -webkit-linear-gradient(to right, #ef4e22, #d3a812);
  background: linear-gradient(to right, #ef4e22, #d3a812); }

.media-video video {
  width: 100%; }

/* Create Event Section*/
.create-event form div {
  margin-bottom: 0.625rem; }

/* Footer*/
footer {
  color: #f8f8fa; }
  footer a {
    color: #f8f8fa; }
  footer .footer-logo {
    width: 7.3125rem;
    height: 3.125rem; }
  footer .slogan {
    font-size: 1rem;
    position: relative;
    top: 1.25rem; }

/* Blog Section*/
.subscribe {
  background-color: #fff;
  border: solid 5px #f69a81;
  padding: 1.25rem; }

.subscribe-title {
  background-color: #f27452;
  color: #fff;
  padding: 8px;
  text-align: center; }

.featured-post {
  margin-bottom: 50px; }

.feature-img, .feature-title {
  padding-left: 0px;
  padding-right: 0px; }

.feature-img {
  background-color: #6d6e71;
  height: 300px;
  overflow: hidden; }
  .feature-img img {
    overflow: hidden;
    width: 100%; }

.feature-title {
  background-color: rgba(0, 0, 0, 0.8);
  height: 150px;
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  top: 150px; }
  .feature-title h5 {
    padding: 3.125rem;
    text-align: center;
    color: #fff; }

.blog-img, .blog-title {
  height: 180px;
  overflow: hidden;
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px; }
  .blog-img img, .blog-title img {
    width: 100%;
    height: auto;
    overflow: hidden; }

.blog-title {
  padding-top: 1.875rem;
  padding: 10px; }

.blog-post {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px; }
  .blog-post:hover {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important; }

.blog-cover {
  max-height: 300px; }
  .blog-cover img {
    max-height: 300px; }

.blog-title-sm {
  padding-top: 10px;
  height: 130px;
  background-color: #fff; }

.wink-form {
  padding: 0px 40px; }

.buy-ticket {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 240px;
  left: 0px;
  background-color: #ef4e22;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 99999;
  padding-top: 5px;
  border: solid 5px #9f2b0c; }
  .buy-ticket:hover, .buy-ticket:active, .buy-ticket:visited, .buy-ticket:focus {
    font-weight: bold;
    color: #fff; }

.ticket-options {
  background-color: #fff;
  padding: 10px;
  width: 200px;
  min-height: 80px;
  position: fixed;
  bottom: 220px;
  left: 90px;
  z-index: 99999;
  border: solid 1px #6d6e71;
  border-radius: 5px;
  background-color: #f8f8fa; }

/*# sourceMappingURL=style.css.map */
